HOST_FILES_DIR=/home/pi
FRONTEND_PORT=8080
DATA_DIR=./data
APP_SECRET=dev-change-me
DOCKER_GID=0
MINIMA_DATA_DIR=./minima
MINIMA_P2P_PORT=9003
MINIMA_RPC_BIND=127.0.0.1
MINIMA_RPC_PORT=9005
INTEGRITAS_BASE_URL=https://integritas.technology/core
INTEGRITAS_API_KEY=
INTEGRITAS_REQUEST_ID=integritas-pi
